@font-face {
    font-family: "Abuse";
    src: url("../fonts/Abuse.ttf");
    }

html {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/pac_bg.gif');
}

#all-content {
    width: 800px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    background-image: url("../images/graftext.jpg");
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
    -webkit-box-shadow: 0px 0px 66px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 66px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 66px -6px rgba(255,255,255,1);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

#pac-start {
    width: 500px;
    border-radius: 40px;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

#start {

    text-align: center;
    background-color: red;
    color: #000000;
    font-family: "Abuse";
    font-size: 60px;
    text-shadow: 0px 5px 10px rgba(71, 71, 71, 1);
    padding: 10px 50px;
    margin-top: 43px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 7px;
    border-color: #000000;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    transition: all .1s ease-in;
}

#start:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}

#time-remaining {
    position: fixed;
    top: 135px;
    left: 44vw;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

#time-left-during {
    background-color: #ffffff;
    color: #000000;
    padding: 3px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
    margin-left: 10px;

}

.question-text {
    font-size: 20px;
    font-weight: bold;
    background-color: hsla(0, 4%, 22%, 0.85);
    color: #ffffff;
    margin-top: 60px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

.choices {
    background-color: hsla(0, 56%, 38%, 0.85);
    color: #ffffff;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

.submit {
    position: relative;
    left: 230px;
    text-align: center;
    background-color: red;
    color: #000000;
    font-family: "Abuse";
    font-size: 60px;
    text-shadow: 0px 5px 10px rgba(71, 71, 71, 1);
    padding: 10px 50px;
    margin-top: 43px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 7px;
    border-color: #000000;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    transition: all .1s ease-in;
}

.submit:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}

#pac-results {
    display: inline-block;
    border-radius: 40px;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}


#results-container {
    display: inline-block;
    margin-left: 20px;
}

.results {
    text-align: center;
    width: 200px;
    font-size: 26px;
    font-weight: bold;
    background-color: hsla(0, 56%, 38%, 0.85);
    color: #ffffff;
    margin-top: 25px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

.results2 {
    line-height: 1.4;
    text-align: center;
    width: 250px;
    font-size: 26px;
    font-weight: bold;
    background-color: hsla(0, 66%, 48%, 0.85);
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}

#score {
    font-size: 50px;
}

.result-number {
    background-color: #ffffff;
    color: #000000;
    padding: 2px 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.start-over {
    position: relative;
    left: 175px;
    text-align: center;
    background-color: red;
    color: #000000;
    font-family: "Abuse";
    font-size: 60px;
    text-shadow: 0px 5px 10px rgba(71, 71, 71, 1);
    padding: 10px 50px;
    margin-top: 35px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 7px;
    border-color: #000000;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    transition: all .1s ease-in;
}

.start-over:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}








